* { margin:0; padding:0; box-sizing:border-box; }
img {
    width: 300px;
}
body{
  font-family:Helvetica;
}
header {
	overflow:hidden;
	padding: 20px 0 20px 0;
}
header a {
	display: inline-block;
	padding:1em;
	text-decoration: none;
	color: #000;
}
nav {
	float:right;
}
nav a:hover {
	color: #f89795;
}

.logo {
	float: left;
	font-size: 25px;
	font-weight: bold;
}
.hero-image {
	background:url(../images/headerimage.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 10em 0;
}
h1 {
    font-size: 46px;
    color: white;
    line-height: 1.3;
    width: 20em;
    margin-left: 4em;
}
