body{
  margin:0;
  padding:0;
  font-family:Helvetica;
}

.nav {
	background-color: #fff;
	color:#000;
	list-style: none;
	text-align: right;
	padding: 20px 0 20px 0;
}

.nav > li {
	display: inline-block;
	padding-right: 70px;
	font-size: 12px;
}

.nav > li > a {
	text-decoration: none;
	color: #000;
}

.nav > li > a:hover {
	color: #f89795;
}

.logo {
	color: #000;
	float: left;
	padding-left: 67px;
	font-size: 25px;
	font-weight: bold;
	font-family: Helvetica;   
}

.logo > a {
	text-decoration: none;
	color: #000;
}

.hero-image {
  	height: 50%;
  	width: 100%;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
 }

.hero-text {
    text-align: left;
    font-size: 23px;
    position: absolute;
    top: 50%;
    left: 37%;
    transform: translate(-50%, -50%);
    color: white;
    line-height: 270%
}
